.grid {
  display: grid;
  gap: var(--s-sm);
  padding: var(--s-sm);
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  max-height: 100%;
  aspect-ratio: 1 / 1;
}

.cell {
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.cell:hover {
  background-color: var(--black);
  color: var(--white);
  transition: background-color 0.2s, color 0.2s;
}

.empty {
  border: none;
  cursor: default;
}

.empty:last-child:hover {
  background-color: var(--white);
}

@media (min-width: 768px) {
  .cell {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .cell {
    font-size: 1.5rem;
  }
}
